<div class="after:absolute after:w-full after:h-full after:rounded-full after:bg-white after:opacity-0 relative z-10 inline-grid place-items-center rounded-full bg-white uppercase text-2xl text-black
                px-10 text-center aspect-square after:transition-all after:ease-in-out after:duration-500 large-button ">
    <a href="" class="ff-serif ">
        @Title
    </a>
</div>

@code {

    [Parameter]
    public string Title { get; set; }
}
