<div class="text-center lg:text-left">
    <h1 class="uppercase text-8xl ff-sans-normal my-5">
        @Destination
    </h1>
    <p class="ff-serif">
        @if (Description is not null)
        {
            @Description
        }
    </p>
</div>
<div class="my-6 border-b-2 border-gray-100 opacity-20">
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 justify-items-center lg:justify-items-start ">
    <div class="text-center lg:text-left">
        <span class="uppercase text-xs text-gray-700">avg.distance</span>
        <h3 class="text-2xl ff-sans-normal uppercase">@Distance km</h3>
    </div>
    <div class="text-center lg:text-left">
        <span class="uppercase text-xs text-gray-700">est. travel time</span>
        <h3 class="text-2xl ff-sans-normal uppercase">@TravelTime </h3>
    </div>
</div>
@code {
    [Parameter]
    public string Destination { get; set; }
    [Parameter]
    public RenderFragment? Description { get; set; }
    [Parameter]
    public string Distance { get; set; }
    [Parameter]
    public string TravelTime { get; set; }

}
