@page "/"

<div class="container mx-auto px-4 leading-none">

    <div class="grid grid-cols-4 gap-6">
        <div class="col-span-3">
            <h1 class="ff-sans-cond uppercase text-4xl tracking-wide text-indigo-200">
                So, you want to travel to
                <div class="ff-serif text-9xl text-white">Space</div>
            </h1>
            <p>
                Let’s face it; if you want to go to space, you might as well genuinely go to
                outer space and not hover kind of on the edge of it. Well sit back, and relax
                because we’ll give you a truly out of this world experience!
            </p>

        </div>
        <div class="justify-self-center">
            <LargeButtonComponent Title="Explore">

            </LargeButtonComponent>
        </div>
    </div>

</div>




















@*


</div>
<div class="mt-10 flex justify-center items-center">
    <div class="flex gap-3">
        <button class="active-tab ff-sans-cond uppercase border-b-2 tracking-wider border-transparent py-2 hover:border-gray-500 focus:border-gray-500">Moon</button>
        <button class="ff-sans-cond uppercase border-b-2 tracking-wider border-transparent py-2 hover:border-gray-500 focus:border-gray-500">Mars</button>
        <button class="ff-sans-cond uppercase border-b-2 tracking-wider border-transparent py-2 hover:border-gray-500 focus:border-gray-500">Europa</button>
    </div>
    <div class="ml-3 flex gap-3">
        <button class="active-dot bg-white opacity-20 w-5 aspect-square rounded-full hover:opacity-50 "></button>
        <button class="bg-white opacity-20 w-5 rounded-full hover:opacity-50 "></button>
        <button class="bg-white opacity-20 w-5  rounded-full hover:opacity-50 "></button>
    </div>
    <div class="ml-3 flex gap-3">
        <button class="active-dot-number border-2 border-gray-700 w-12  aspect-square rounded-full text-base hover:border-gray-400">1</button>
        <button class="border-2 border-gray-700 w-12  aspect-square rounded-full text-base hover:border-gray-400">2</button>
        <button class="border-2 border-gray-700 w-12  aspect-square rounded-full text-base hover:border-gray-400">3</button>
    </div>
</div>*@
