@inherits LayoutComponentBase

<div class="wrapper">
    <div class="flex items-center justify-between">
        <NavMenu></NavMenu>
    </div>
    <main>
        <article>
            <CascadingValue Value="this" Name="MainLayout">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

<style>
    body {
    }
</style>

@code {

    public string bg { get; set; }
}
