@inherits LayoutComponentBase

<div class="wrapper">
    <div class="navbar">
        <NavMenu></NavMenu>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
